@import '~@angular/cdk/overlay-prebuilt.css';

html,
body {
    height: 100%;
}

body {
    background-color: #111;
    background-repeat: repeat;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.confirm-identity-dialog {
    .mat-dialog-container {
        background: #333;
        color: #fff;
    }
}